@model IEnumerable<DietMAnagemenApp.Models.DietPlan>

@{
    ViewData["Title"] = "Diet Planları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">DietApp</a></li>
        <li class="breadcrumb-item active"><a asp-controller="Dietplan" asp-action="Index">@ViewData["Title"]</a></li>
    </ol>
</div>

<div class="row">
    @foreach (var dietplan in Model.ToList())
    {
        <div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
            <div class="widget-stat card bg-info">
                <a asp-controller="DietPlan" asp-action="Detail" asp-route-id="@dietplan.Id">
                    <div class="card-body p-4">
                        <div class="media">
                            <span class="me-3">
                                <i class="flaticon-381-heart"></i>
                            </span>
                            <div class="media-body text-white text-end">
                                <p class="mb-1">@dietplan.Title</p>
                                <h3 class="text-white">@dietplan.Meals.Count <span><p class="text-end"> Öğün</p></span></h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>